{
  "presets": ["env","react", "stage-2"],

  "plugins": [
    "transform-runtime",
    "add-module-exports"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
              "transform": "react-transform-catch-errors",
              "imports": ["react", "redbox-react"]
            }
          ]
        }]
      ]
    }
  }
}
