.panda-index-bar {
  &__sidebar {
    position: fixed;
    top: 50%;
    right: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(-50%);
    user-select: none;
  }

  &__index {
    padding: 0 3px 0 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }
}

.panda-index-bar__index--active{
  color: red;
}

.panda-index-bar-anchor--sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.panda-index-bar-current {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0,0,0,.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
}
